*{
    margin-left: 0;
}
.navbar{
    border:1px solid rgb(113, 113, 173);
    background-color: rgb(245, 245, 245);
    position: relative;
}
ul{
    display: flex;
    margin-top: -40px;
}
 ul li{
    list-style: none;
    position:relative;
}
.navbar a{
    text-decoration: none;
    color:black;
}
#logo{
    width:70px;
    height:70px;
    border-radius: 5px;
    margin-top: 10px;
}
ul #hom{
    height:40px;
    width: 200px;
    margin-left: 500px;
}
ul #hom:hover{
    
}
ul #jezi{
    margin-left:10px;
    height:40px;
    width: 200px;
    margin-left: 170px;
    margin-bottom: 10px;
}
ul #jezi:hover{
    
}
ul #gwanda{
    margin-left:10px;
    height:40px;
    width: 200px;
    margin-left: 100px;
}
ul #gwanda:hover{
    
}