*{
    margin-left: 0;
}
.navbar{
    border:1px solid rgb(248, 248, 248);
    background-color: rgb(255, 255, 255);
    
    height: 90px;
}
ul{
    display: flex;
    margin-top: -40px;
}
 ul li{
    list-style: none;
    position:relative;
}
.navbar a{
    text-decoration: none;
    color:rgb(10, 10, 10);
}

#logo{
    width:70px;
    height:70px;
    border-radius: 5px;
    margin-top: 10px;
}
ul #hom{
    height:40px;
    width: 200px;
    margin-left: 400px;
}
ul #jezi{
    margin-left:10px;
    height:40px;
    width: 200px;
    margin-left: 170px;
    margin-bottom: 10px;
}
ul #cart{
    margin-left:10px;
    height:40px;
    width: 200px;
    margin-left: 50px;
}

.line-1{
    display: flex;
}
.line-1 .njumu{
    border:1px solid black;
}
.line-2{
    display:flex;
}
.line-2 .njumu{
    border:1px solid black;
}
.line-3{
    display:flex;
}
.line-3 .njumu{
    border:1px solid black;
}
.line-4{
    display:flex;
}
.line-4 .njumu{
    border:1px solid black;
    
}
.njumu{
    background-color: rgb(136, 136, 151);
}
.airmax .air{
    border:1px solid black;
    
}
.njumu img{
    width: 320px;
}
.airmax{
    display:flex;
    width:1009px;
    background-color: rgb(136, 136, 151);
}
.air img{
    width: 250px;
    height:300px;
}
.njumu .slides{
    width:320px;
    border-radius: 5px;
}