*{
    margin-left: 0;
}
.navbar{
    border:1px solid rgb(185, 201, 243);
    background-color: rgb(0, 0, 0);
    height: 90px;
}
ul{
    display: flex;
    margin-top: -40px;
}
 ul li{
    list-style: none;
    position:relative;
}
.navbar a{
    text-decoration: none;
    color:rgb(248, 247, 247);
}
#logo{
    width:70px;
    height:70px;
    border-radius: 5px;
    margin-top: 10px;
}
ul #hom{
    height:40px;
    width: 200px;
    margin-left: 400px;
}
ul #hom:hover{
    
}
ul #gwanda{
    margin-left:10px;
    height:40px;
    width: 150px;
    margin-left: 100px;
}
ul #gwanda:hover{
    
}
ul #cart{
    margin-left:10px;
    height:40px;
    width: 200px;
    margin-left: 50px;
}
ul #cart:hover{
    
}
.cadi{
    display:flex;
}
.cadi-2{
    display:flex;
}
.card-arsenal{
    border:2px solid black;
    width:250px;
}
.card-arsenal img{
    width:240px;
}