*{
    margin-left: 0;
}
.navbar{
    background-color: rgb(255, 255, 255);
    height: 70px;
    
}
ul{
    display: flex;
    margin-top: -70px;
}
 ul li{
    list-style: none;
    position:relative;
}
.navbar a{
    text-decoration: none;
    color:rgb(10, 10, 10);
}
#logo{
    width:70px;
    height:70px;
    border-radius: 5px;
    margin-top: 10px;
}
ul #hom{
    height:40px;
    width: 200px;
    margin-left: 400px;
}
ul #hom:hover{
    
}
ul #gwanda{
    margin-left:10px;
    height:40px;
    width: 150px;
    margin-left: 100px;
}
ul #gwanda:hover{
    
}
ul #cart{
    margin-left:10px;
    height:40px;
    width: 200px;
    margin-left: 50px;
}
ul #cart:hover{
    
}
.cadi{
    display:flex;
}
.cadi-2{
    display:flex;
}
.cadi .card-arsenal{
    margin-left: 15px;
    margin-top: 15px;
}
.cadi-2 .card-arsenal{
    margin-left: 15px;
    margin-top: 10px;
}
.card-arsenal{
    border: 0.5px solid blak;
    width:250px;
    background-color: rgb(213, 218, 241);
}
.card-arsenal img{
    width:240px;
    padding:10px;
    margin-left: 5px;
}

.content h3{
    color:rgb(35, 40, 49);
    margin-left: 20px;
}
.content p{
    color:rgb(15, 3, 3);
    align-items: center;
    margin-left: 65px;
}
.content button{
    margin-left: 60px;
    background-color: transparent;
    border: 0.5px solid black;
    color:rgb(29, 2, 27);
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border: 9px;
}
.content button:hover{
    background-color: rgba(17, 17, 85, 0.411);
    color:white;
    cursor: pointer;
    
}