*{
    margin-left: 0;
}
.navbar{
    border:1px solid rgb(0, 0, 0);
    background-color: rgb(3, 3, 3);
    height: 90px;
    /* position: fixed; */
}

#logo{
    width:70px;
    height:70px;
    border-radius: 5px;
    margin-top: 10px;
}
ul{
    display: flex;
    margin-top: -40px;
}
 ul li{
    list-style: none;
    position:relative;
}
.navbar a{
    text-decoration: none;
    color:rgb(240, 240, 240);
}
ul #hom{
    height:40px;
    width: 200px;
    margin-left: 400px;
}
ul #hom:hover{
    color:red;
}
ul #jezi{
    margin-left:10px;
    height:40px;
    width: 200px;
    margin-left: 150px;
    margin-bottom: 10px;
}
ul #jezi:hover{
    color:red;
}
ul #gwanda{
    margin-left:10px;
    height:40px;
    width: 200px;
    margin-left: 100px;
}
ul #cart{
    margin-left:10px;
    height:40px;
    width: 200px;
    margin-left: 50px;
}
.landing-page{
    background-color: black;
    position: relative;
}
.landing-page img{
    background-repeat: no-repeat;
    width: 1325px;
    height:750px;
    margin-left: 0px;
    /* -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    /*filter: grayscale(100%); */
    background-color: black;
}
.landing-page-text{
    color:rgb(204, 181, 209);
    position: absolute;
    top:3%;
    padding: 10px;
    margin-left: 600px;
    font-size: 150%;
    border-radius: 5px;
    font-weight: 2px;
    background-color: black;
}
.end{
    background-color: rgb(90, 90, 92);
    height: 200px;
}
.intro-pics img{
    height:200px;
    width:250px;
    position: absolute;
    top:38%;
    padding: 10px;
    margin-left: 600px;
    border: 1px solid rgb(238, 11, 11);
    border-radius: 50%;
    -webkit-filter:none;
    filter:none;
}
/* .jersi{
    
    height:155px;
    width:205px;
    position: absolute;
    top:38%;
    margin-left: 850px;
    border: 1px solid rgb(238, 11, 11);
    border-radius: 50%;
} */
.jersi img{
    height:200px;
    width:250px;
    position: absolute;
    top:38%;
    padding: 10px;
    margin-left: 900px;
    border: 1px solid rgb(238, 11, 11);
    border-radius: 50%;
    -webkit-filter:none;
    filter:none;
}
.mwisho i{
    margin-left: 250px;
}

